*** Base styles ***/

*{
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
}


body{
    background-color: #B0B7C0;

}

a{
    text-decoration:none;
}

.fa, .fab, .fas{
    color:#fff;
}

i.fas.fa-star, i.fas.fa-fire, i.fas.fa-gem{
    color: black;
}

.nav-link{
    float:left;
}

#navbarSupportedContent > ul{
    display: table;
    margin: 0 10%;
    color: #fff;
    list-style-type: none;
}

.right-side-icons{
    position:absolute;

}

.upper-ad{
    text-align: center;
    margin bottom: 15px;
}
.PreSearch-add{
    padding-top: 5px;
    padding-bottom: 15px;
}

.latest-posts{
    margin-top:30px;
}

.post-latest-subject{
    background-color:#fff;

}

.Aprenda{
    background-color:#6699ff;
}
.Popular{
    background-color:#e6e600;
}
.Genoma{
    background-color: #66ffff;
}
.Cripto-moedas{
    background-color: #999966;
}

.Ciências{
    background-color:	  #b35900;
}

.Plantas.e.animais{
    background-color: #336600;
}

.Espacial{
    background-color:#003366;
}



.post-slick{
    width:1200px;
}

.post-tile.post-snippet-latest{
    position: relative;


}



.post-snippet-more{
    position:relative;
    background-color:#BFC5CC;
    padding:0;
    margin-left:15px;
    margin-right:auto;

}

 .post-trending-intro{
        color: black;
    }
.post-more-intro{
        color: black;
    }


hr.style2 {
    width:100%;
	border-top: 4px double #8c8b8b;
    margin-bottom: 5px;
}
hr.style3 {
    width:98%;
	border-top: 4px double #8c8b8b;
    margin-bottom: 5px;
    padding-left: 10px;
}

/* Make img rotation effect */
.img-rotate {
  transition: 0.10s;
  -webkit-transition: 0.10s;
  -moz-transition: 0.10s;
  -ms-transition: 0.10s;
  -o-transition: 0.10s;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-rotate:hover {

  transition: 0.10s;
  -webkit-transition: 0.10s;
  -moz-transition: 0.10s;
  -ms-transition: 0.10s;
  -o-transition: 0.10s;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  clip: rect(0px,60px,200px,0px);
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

span.post-crated-date {
    position:relative;
    width:60%;
    color:#fff;
    float:left;
}

span.post-title {
    position: relative;
    width:60%;
    color: #fff;
    float: left;
    overflow: hidden;

}

.post-tile-trending {
    position:relative;
    margin-bottom: 15px;
    background-color:#BFC5CC;
    padding: 0px;
}

p{
    text-decoration: none;
}


span.trending-title-box{
    position:absolute;
    bottom: 0;
    left:0px;
}


img.latest-snippet_image {
        margin-left: auto;
        margin-right: auto;
        object-fit:cover;
}

img.top-articles-snippet_image {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}


img.trending-snippet_image {
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;

}


.shadow{
    position: relative;
    text-align: center;
}
.shadow::after {
    box-shadow:  0 0 100px 30px #000 inset;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

}


.shadow-trending{
    position: relative;
    padding: 0;

}

.shadow-trending::after{
    box-shadow:  0 0 80px 30px #000 inset;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

}

.shadow-more{
    position: relative;
    text-align: center;
}
.shadow-more::after {
    box-shadow:  0 0 60px 30px #000 inset;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

}


.upper-ad{

    margin-top:20px;
    line-height:0.6;
}
hr{
    width: 60%;
    margin:auto;
}
.Ad-title{

    line-height:0.6;
    margin:auto;
    Text-align: center;
    font-size:0.8em;
    color: gray;
}

.top-articles{
    padding-left: 20px;
}

    .corner-right-ad{
    padding-bottom:30px;

}

.right-side-ad-1{
    margin: auto;
    display:block;
}







/* Footer */
footer{
    margin-top:30px;
    bottom:0;
    width:100%;
    background-color: #212529;
   text-align: center;
}

.footer-table{
    border-collapse: separate;
    table-layout:auto;
    width: 100%;
    margin-top: 0px;
    color: #fff;
    padding:25px;
    line-height: 0.8;

}

.footer-table a{
    color: #fff;

}
.footer-table a:link{

    text-decoration:none;
}

.footer-table td{
    width:33%;
}

.footer-container{
    margin-left:0px;
    padding-left:15px;
}


/* MEDIA SIZES */
/* Media extra-small size */
@media (max-width: 575px){


    .navbar-light .navbar-toggler {
    background-color: #fff;
    margin-right: 5px;
    }

     .mylogo-image img {
        width: 150px;
        object-fit: scale-down;
    }
     .subjects-list{
        margin-left:20px;
        width: 450px;
        font-size:0.6em;
    }

    li.nav-item.active.middle{
    margin-left:400px;
    }

    .subjects-list i{
        padding-right: 15px;
        padding-top 15px

    }

     .slick-arrow{
        visibility:hidden;
        position:absolute;
        left:10px;
    }



    .right-side-icons{

        right: 80px;
        position: absolute;
        top:40px;
        margin-top:0px;
        color: #fff;
        font-size:0.6em;

    }

    .right-side-icons i {
    padding: 2px;
    }


    .post-slick{
        height:300px;
        width:600px;
        margin-bottom:26px;
    }

    img.latest-snippet_image {
        width: 100%;
        height:100%;
        margin-right:25px;
        object-position:center;

    }

    img.top-articles-snippet_image {
        width: 100%;
        height:220px;


    }


    img.trending-snippet_image {
        width: 100%;
        height:220px;


    }

    .corner-right-ad{



        box-sizing: border-box;
    }

    .post-snippet-latest{

        height:300px;
        margin-right: 0;

    }

    span.post-date-created{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:65px;
        position:absolute;
        float:left;
        color:#fff;

    }

    .post-latest-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:3px;
        font-size:1.0em;
        line-height:70%;
        bottom:0px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 100%;
        height: 1.1em;

    }
    .post-trending-subject{
        text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width:100%;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-trending-intro p{
        position: absolute;
        bottom: 17px;
    }
    .post-more-subject{
         text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width:100%;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-more-intro p{
        position: absolute;
        bottom: 17px;
    }

    span.post-date-created-trending{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:0.80em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }
    span.post-date-created-more{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:0.80em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }

    span.post-title{
        padding-left: 15px;
        padding-right:0px;
        font-size: 18px;
        line-height:100%;
        bottom:0px;
        position:absolute;
        float:left;
        height:65px;
        width: 100%;

    }

    span.post-title-trending{
        padding: 15px;
        font-size: 15px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    span.post-title-more{
        padding: 15px;
        font-size: 15px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    .shadow{
        width:100%;
        height:300px;

    }
    .shadow-trending{
        width:100%;
        height:220px;
    }

    .shadow-trending::after{
    width: 100%;

    }

    .shadow-more{
        width:100%;
        height:220px;
    }
    .slick-list{

    }

    .top-articles section div:nth-child(4){
        margin-top:200px;
    }
    .post-tile-trending{
        width:95%;
        height:280px;
        margin-right:auto;
        margin-bottom:10px;

    }
    .post-trending-intro{
        font-size: 1.0 em;
    }
    .post-more-intro{
        font-size:0.8em;
    }

    .post-snippet-more{
        width:95%;
        height:280px;
        margin-right:auto;
        margin-bottom:10px;
    }

    img.PreSearch-add.img-responsive{
        width:100%;
    }

    p.Ad-title{
        font-size:1.0em;
        padding-top: 7px;
    }

    .popular-posts{
        border: 5px solid #cbccc4;
        height: 400px;
        box-sizing: border-box;
        top:0px;
        position:relative;
    }

    .picpay{
        width: 100%;
        height: 150px;
        margin-left:auto;
        margin-right:auto;
        display: block;
        margin-top: 5px;
        margin-bottom:0px;
    }

    .corner-right-ad{
        position:absolute;
        top: 1500px;
    }

    #right-bottom-advertisement{


    }
    .trending-articles {
    margin-top:30px;
    }

}

/* Media small size */
@media (min-width: 576px){
    .subjects-list{
        margin-left:100px;
        width: 450px;
        font-size:0.8em;
    }

    .navbar-light .navbar-toggler {

    background-color: #fff;
    margin-right: 5px;
    }


    .slick-arrow{
        visibility:hidden;
        position:absolute;
        left:10px;
    }

    li.nav-item.active.middle{
    margin-left:400px;
    }

    .subjects-list i{
        padding-right: 20px;
        padding-top 15px

    }



    .right-side-icons{

        right: 120px;
        position: absolute;
        top:40px;
        margin-top:0px;
        color: #fff;
        font-size:0.8em;

    }

    .right-side-icons i {
    padding: 10px;
    }


    .post-slick{
        height:400px;
        width:600px;
        margin-bottom:26px;
    }

    img.latest-snippet_image {
        width: 500px;
        height:400px;
        margin-right:25px;

    }

    img.top-articles-snippet_image {
        width: 260px;
        height:220px;


    }


    img.trending-snippet_image {
        width: 260px;
        height:200px;


    }

    .corner-right-ad{



        box-sizing: border-box;
    }

    .post-snippet-latest{
        width:600px;
        height:400px;
        margin-right: 0;

    }

    span.post-date-created{
        padding-left: 45px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:65px;
        position:absolute;
        float:left;
        color:#fff;

    }

    .post-latest-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:0px;
        left:6.6%;
        position:absolute;
        float:left;
        color:black;
        width: 87%;
        font-size:1.5em;
        height: 1.1em;

    }
    .post-trending-subject{
        text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 260px;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-trending-intro p{
        position: absolute;
        bottom: 17px;
    }
    .post-more-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:35px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width:260px;
        font-size:1.0em;
        height: 1.1em;

    }
    .post-more-intro p{
        position: absolute;
        bottom: 5px;
    }

    span.post-date-created-trending{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:0.80em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }
    span.post-date-created-more{
        padding-left: 15px;
        padding-bottom:0px;
        font-size:0.80em;
        line-height:70%;
        bottom:75px;
        position:absolute;
        float:left;
        color:#fff;

    }

    span.post-title{
        padding: 45px;
        font-size: 25px;
        line-height:100%;
        bottom:19px;
        position:absolute;
        float:left;
        height:65px;
        width: 100%;

    }

    span.post-title-trending{
        padding: 15px;
        font-size: 15px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    span.post-title-more{
        padding: 15px;
        font-size: 15px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 45px;

    }

    .shadow{
        width:500px;

    }
    .shadow-trending{
        width:260px;
    }

    .shadow-trending::after{
    width: 260px;

    }

    .shadow-more{
        width:260px;
    }
    .slick-list{

    }


    .post-tile-trending{
        width:260px;
        height:280px;
        margin-right:auto;
        margin-bottom:10px;

    }
    .post-trending-intro{
        font-size: 1.0 em;
    }
    .post-more-intro{
        font-size:0.8em;
    }

    .post-snippet-more{
        margin-bottom: 15px;
        width:260px;
        height: 250px;
        margin-right:auto;
    }

    img.PreSearch-add.img-responsive{
        width:100%;
    }

    p.Ad-title{
        font-size:1.0em;
        padding-top: 7px;
    }

    .popular-posts{
        border: 5px solid #cbccc4;
        height: 400px;
        box-sizing: border-box;
        top:300px;
        position:relative;
    }

    .picpay{
        width: 500px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
        display: block;
        margin-top: 5px;
        margin-bottom:0px;
    }

    .corner-right-ad{
        position:absolute;
        top: 1650px;
    }

    #right-bottom-advertisement{


    }
    .trending-articles {
    margin-top:320px;
    }


}





/* Media medium size */
@media (min-width: 768px){
    .subjects-list{
        margin-left:0;
        width: 300px;
        font-size:0.6em;
    }

    li.nav-item.active.middle{
    margin-left:400px;
    }



    .right-side-icons{

        right: 20px;
        margin-top:0px;
        color: #fff;
        font-size:0.8em;

    }
    .post-slick{
        height:400px;
        width:600px;
        margin-bottom:26px;
    }

    img.latest-snippet_image {
        width: 500px;
        height:400px;
        margin-right:25px;

    }

    img.top-articles-snippet_image {
        width: 350px;
        height:240px;


    }


    img.trending-snippet_image {
        width: 300px;
        height:200px;


    }

    .corner-right-ad{



        box-sizing: border-box;
    }

    .post-snippet-latest{
        width:600px;
        height:400px;
        margin-right: 0;

    }

    span.post-date-created{
        padding-left: 45px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:65px;
        position:absolute;
        float:left;
        color:#fff;

    }

    .post-latest-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:0px;
        left:38px;
        position:absolute;
        float:left;
        color:black;
        width: 500px;
        font-size:1.5em;
        height: 1.1em;

    }
    .post-trending-subject{
        text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 350px;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-trending-intro p{
        position: absolute;
        bottom: 17px;
    }
    .post-more-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:35px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 300px;
        font-size:1.0em;
        height: 1.1em;

    }
    .post-more-intro p{
        position: absolute;
        bottom: 5px;
    }

    span.post-date-created-trending{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }
    span.post-date-created-more{
        padding-left: 15px;
        padding-bottom:0px;
        font-size:0.80em;
        line-height:70%;
        bottom:75px;
        position:absolute;
        float:left;
        color:#fff;

    }

    span.post-title{
        padding: 45px;
        font-size: 30px;
        line-height:100%;
        bottom:25px;
        position:absolute;
        float:left;
        height:65px;

    }

    span.post-title-trending{
        padding: 15px;
        font-size: 25px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    span.post-title-more{
        padding: 15px;
        font-size: 18px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 45px;

    }

    .shadow{
        width:500px;

    }
    .shadow-trending{
        width:350px;
    }

    .shadow-trending::after{
    width: 350px;

    }

    .shadow-more{
        width:300px;
    }
    .slick-list{

    }


    .post-tile-trending{
        width:350px;
        height:320px;
        margin-right:auto;
        margin-bottom:20px;

    }
    .post-trending-intro{
        font-size: 1.0 em;
    }
    .post-more-intro{
        font-size:0.8em;
    }

    .post-snippet-more{
        margin-bottom: 15px;
        width:300px;
        height: 250px;
        margin-right:auto;
    }

    .Presearch-add{
        width:1400px;
    }
     img.PreSearch-add.img-responsive{
        width:100%;
    }

    p.Ad-title{
        font-size:1.0em;
        padding-top: 7px;
    }

    .popular-posts{
        border: 5px solid #cbccc4;
        height: 600px;
        box-sizing: border-box;
        top:300px;
        position:relative;
    }

    .picpay{
        width: 600px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
        display: block;
        margin-top: 5px;
        margin-bottom:0px;
    }

    .corner-right-ad{
        position:absolute;
        top: 1800px;
    }

    #right-bottom-advertisement{


    }
    .trending-articles {
    margin-top:320px;
    }


}


/* --------------------------------------------------Media Large size */
@media (min-width: 992px){

    #navbarSupportedContent > ul{
    display: table;
    margin: 0;
    color: #fff;
    list-style-type: none;
}
.subjects-list{
        margin-left:10%;
        width: 600px;
        font-size:0.8em;
    }

 .right-side-icons{

        right: 20px;
        color: #fff;
        font-size:0.8em;
        right: 20px;
        margin-top:-10px;

    }



    li.nav-item.active.middle{
    margin-left:400px;
    }


    .post-slick{
        height:350px;
        width:900px;
    }

    img.latest-snippet_image {
        width: 400px;
        height:300px;
        margin-right:25px;

    }

    img.top-articles-snippet_image {
        width: 350px;
        height:260px;


    }


    img.trending-snippet_image {
        width: 280px;
        height:180px;


    }

    .corner-right-ad{



        box-sizing: border-box;
    }

    .post-snippet-latest{
        width:600px;
        height:320px;
        margin-right: 0;

    }

    span.post-date-created{
        padding-left: 25px;
        padding-bottom:5px;
        font-size:0.8 em;
        line-height:70%;
        bottom:55px;
        position:absolute;
        float:left;
        color:#fff;

    }

    .post-latest-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:0px;
        left:19px;
        position:absolute;
        float:left;
        color:black;
        width: 400px;
        font-size:1.5em;
        height: 1.1em;

    }
    .post-trending-subject{
        text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 350px;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-trending-intro p{
        position: absolute;
        bottom: 17px;
    }
    .post-more-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:35px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 280px;
        font-size:1.0em;
        height: 1.1em;

    }
    .post-more-intro p{
        position: absolute;
        bottom: 5px;
    }

    span.post-date-created-trending{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }
    span.post-date-created-more{
        padding-left: 15px;
        padding-bottom:0px;
        font-size:0.80em;
        line-height:70%;
        bottom:75px;
        position:absolute;
        float:left;
        color:#fff;

    }

    span.post-title{
        padding: 25px;
        font-size: 25px;
        line-height:100%;
        bottom:90px;
        position:absolute;
        float:left;
        height:15px;

    }

    span.post-title-trending{
        padding: 15px;
        font-size: 20px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    span.post-title-more{
        padding: 15px;
        font-size: 18px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 45px;

    }

    .shadow{
        width:400px;

    }
    .shadow-trending{
        width:350px;
    }

    .shadow-trending::after{
    width: 350px;

    }

    .shadow-more{
        width:280px;
    }
    .slick-list{

    }


    .post-slick{
        margin-bottom:26px;
    }

    .post-tile-trending{
        width:350px;
        height:320px;
        margin-right:auto;
        margin-bottom:20px;

    }
    .post-trending-intro{
        font-size: 1.0 em;
    }
    .post-more-intro{
        font-size:0.8em;
    }

    .post-snippet-more{
        margin-bottom: 15px;
        width:280px;
        height: 230px;
        margin-right:auto;
    }

    .Presearch-add{
        width:1400px;
    }

     img.PreSearch-add.img-responsive{
        width:728px;
    }

    p.Ad-title{
        font-size:1.0em;
        padding-top: 7px;
    }

    .popular-posts{
        border: 5px solid #cbccc4;
        height: 1050px;
        box-sizing: border-box;
    }

    .picpay{
        width: 600px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
        display: block;
        margin-top: 5px;
        margin-bottom:0px;
    }

    #right-bottom-advertisement{
        position:relative;
        bottom: 230px;
    }


}


/* Media extra - Large size */
@media (min-width: 1200px){
    .subjects-list{
        margin-left:30%;
        width: 600px;
        font-size:1.0em;
    }

 .right-side-icons{

        color: #fff;
        font-size:1.0em;
        right: 50px;
        margin-top:-15px;
        color: #fff;

    }

    li.nav-item.active.middle{
    margin-left:400px;
    }


    .post-slick{
        height:400px;
        width:1100px;
    }

    img.latest-snippet_image {
        width: 500px;
        height:400px;
        margin-right:25px;

    }

    img.top-articles-snippet_image {
        width: 400px;
        height:280px;


    }


    img.trending-snippet_image {
        width: 300px;
        height:200px;


    }

    .corner-right-ad{

        position: relative;
        top: 0;

        box-sizing: border-box;
    }

    .post-snippet-latest{
        width:600px;
        height:400px;
        margin-right: 0;

    }

    span.post-date-created{
        padding-left: 25px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:65px;
        position:absolute;
        float:left;
        color:#fff;

    }

    .post-latest-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:0px;
        left:19px;
        position:absolute;
        float:left;
        color:black;
        width: 500px;
        font-size:1.5em;
        height: 1.1em;

    }
    .post-trending-subject{
        text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 400px;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-trending-intro p{
        position: absolute;
        bottom: 17px;
    }
    .trending-articles {
    margin-top: 0px;
    }
    .post-more-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:35px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 300px;
        font-size:1.0em;
        height: 1.1em;

    }
    .post-more-intro p{
        position: absolute;
        bottom: 5px;
    }

    span.post-date-created-trending{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }
    span.post-date-created-more{
        padding-left: 15px;
        padding-bottom:0px;
        font-size:0.80em;
        line-height:70%;
        bottom:75px;
        position:absolute;
        float:left;
        color:#fff;

    }

    span.post-title{
        padding: 25px;
        font-size: 35px;
        line-height:100%;
        bottom:30px;
        position:absolute;
        float:left;
        height:65px;

    }

    span.post-title-trending{
        padding: 15px;
        font-size: 25px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    span.post-title-more{
        padding: 15px;
        font-size: 18px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 45px;

    }

    .shadow{
        width:500px;

    }
    .shadow-trending{
        width:400px;
    }

    .shadow-trending::after{
    width: 400px;

    }

    .shadow-more{
        width:300px;
    }
    .slick-list{

    }


    .post-slick{
        margin-bottom:26px;
    }

    .post-tile-trending{
        width:400px;
        height:360px;
        margin-right:auto;
        margin-bottom:20px;

    }
    .post-trending-intro{
        font-size: 1.0 em;
    }
    .post-more-intro{
        font-size:0.8em;
    }

    .post-snippet-more{
        margin-bottom: 15px;
        width:300px;
        height: 250px;
        margin-right:auto;
    }

    .Presearch-add{
        width:1400px;
    }

    img.PreSearch-add.img-responsive{
        width:728px;
    }

    p.Ad-title{
        font-size:1.0em;
        padding-top: 7px;
    }

    .popular-posts{
        border: 5px solid #cbccc4;
        height: 1200px;
        box-sizing: border-box;
    }

    .picpay{
        width: 600px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
        display: block;
        margin-top: 5px;
        margin-bottom:0px;
    }

    #right-bottom-advertisement{
        position:relative;
        bottom: 0px;
    }

}

/* Media extra-extra-Large size */
@media (min-width: 1400px){
    .subjects-list{
        margin-left:20%;
        width: 600px;
        font-size:1.0em;
    }

 .right-side-icons{

        color: #fff;
        font-size:1.0em;
        right: 100px;
        margin-top:-15px;
        color: #fff;

    }

    li.nav-item.active.middle{
    margin-left:400px;
    }


    .post-slick{
        height:400px;
        width:1200px;
    }

    img.latest-snippet_image {
        width: 550px;
        height:400px;
        margin-right:25px;

    }

    img.top-articles-snippet_image {
        width: 450px;
        height:280px;


    }


    img.trending-snippet_image {
        width: 300px;
        height:200px;


    }

    .corner-right-ad{

        position: relative;
        top: 0;
        box-sizing: border-box;
    }

    .post-snippet-latest{
        width:600px;
        height:400px;
        margin-right: 0;

    }

    span.post-date-created{
        padding-left: 25px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:65px;
        position:absolute;
        float:left;
        color:#fff;

    }

    .post-latest-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:0px;
        left:19px;
        position:absolute;
        float:left;
        color:black;
        width: 550px;
        font-size:1.5em;
        height: 1.1em;

    }
    .post-trending-subject{
        text-align: right;
        padding-left: 0px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:60px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 450px;
        font-size:1.2em;
        height: 1.1em;

    }
    .post-trending-intro p{
        position: absolute;
        bottom: 17px;
    }
    .trending-articles {
    margin-top: 0px;
    }
    .post-more-subject{
        text-align: right;
        padding-left: 10px;
        padding-right:15px;
        padding-bottom:0px;
        padding-top:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:35px;
        left:0px;
        position:absolute;
        float:left;
        color:black;
        width: 300px;
        font-size:1.0em;
        height: 1.1em;

    }
    .post-more-intro p{
        position: absolute;
        bottom: 5px;
    }

    span.post-date-created-trending{
        padding-left: 15px;
        padding-bottom:5px;
        font-size:1.0em;
        line-height:70%;
        bottom:100px;
        position:absolute;
        float:left;
        color:#fff;

    }
    span.post-date-created-more{
        padding-left: 15px;
        padding-bottom:0px;
        font-size:0.80em;
        line-height:70%;
        bottom:75px;
        position:absolute;
        float:left;
        color:#fff;

    }

    span.post-title{
        padding: 25px;
        font-size: 35px;
        line-height:100%;
        bottom:30px;
        position:absolute;
        float:left;
        height:65px;

    }

    span.post-title-trending{
        padding: 15px;
        font-size: 25px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 70px;

    }

    span.post-title-more{
        padding: 15px;
        font-size: 18px;
        line-height:70%;
        color: #fff;
        position:absolute;
        bottom: 45px;

    }

    .shadow{
        width:550px;

    }
    .shadow-trending{
        width:450px;
    }

    .shadow-trending::after{
    width: 450px;

    }

    .shadow-more{
        width:300px;
    }
    .slick-list{

    }


    .post-slick{
        margin-bottom:26px;
    }

    .post-tile-trending{
        width:450px;
        height:360px;
        margin-right:auto;
        margin-bottom:20px;

    }
    .post-trending-intro{
        font-size: 1.0 em;
    }
    .post-more-intro{
        font-size:0.8em;
    }

    .post-snippet-more{
        margin-bottom: 15px;
        width:300px;
        height: 250px;
        margin-right:auto;
    }

    .Presearch-add{
        width:1400px;
    }

     img.PreSearch-add.img-responsive{
        width:728px;
    }

    p.Ad-title{
        font-size:1.0em;
        padding-top: 7px;
    }

    .popular-posts{
        border: 5px solid #cbccc4;
        height: 1200px;
        box-sizing: border-box;
    }

    .picpay{
        width: 600px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
        display: block;
        margin-top: 5px;
        margin-bottom:0px;
    }

    #right-bottom-advertisement{
        position:relative;
        bottom: 230px;
    }


}
