{% extends "base.html" %}

{% block content%}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}

    <div class="post_content_full">
        <div class="content container editable">
            <h1 class="posttitle loader">{{post.title}}</h1>
            {% if post.publication_date %}
                <div class="date postdate">
                    {{ post.publication_date }}
                </div>
            {% else %}
                {% if user.is_authenticated %}
                    <h1>This post is not published yet</h1>
                    <a class='btn btn-primary' href="{% url 'post_publish' slug=post.slug %}">
                      POST
                    </a>

                {% endif %}

            {% endif %}

            <p class='postcontent'>{{ post.text|safe|linebreaksbr}}</p>
            {% if post.header_image %}
                <img class='postimage1' src={{ post.header_image.url }} height=600 width=800>
                <img class='postimage2' src={{ post.second_image.url }} height=600 width=800>
                <img class='postimage3' src={{ post.third_image.url }} height=600 width=800>

            {% endif %}



            {% if user.is_authenticated %}
                <a class='btn btn-primary' href="{% url 'admin:index' %}">
                    <i class='far fa-edit' ></i>
                </a>

                <a class='btn btn-primary' href="{% url 'post_remove' slug=post.slug %}">
                    <i class='far fa-trash-alt' ></i>
                </a>



            {% endif %}


                <div class="fb-like" data-href="http://127.0.0.1:8000/post/{{ post.slug }}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>

                <div class="fb-comments" data-href="http://127.0.0.1:8000/post/{{ post.slug }}"
                data-numposts="5" data-width="">

                </div>
        </div>
    </div>




{% endblock %}