{% extends "base.html" %}

{% block content%}
<div class="centerstage">
    <h1>View all posts:</h1>

    {% for post in post_list %}
    <div class="post">
        <h1><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Published on: {{ post.publication_date|date:"D M Y"}}</p>
        </div>
        
        <a href="{% url 'post_detail' slug=post.slug %}">Comments: {{ post.approve_comments.count }}</a>
        
   
        
    </div>
    
    {% endfor %}




        
</div>



{% endblock %}